/node_modules

/gateway-service/node_modules
/gateway-service/.env

/user-service/node_modules
/user-service/.env

/job-service/node_modules
/job-service/.env

/file-service/node_modules
/file-service/.env

/admin-service/node_modules
/admin-service/.env

/interview-mgmt-service/node_modules
/interview-mgmt-service/.env

/a.rest

