/node_modules

/gateway-service/node_modules
/gateway-service/.env.production
/gateway-service/.env

/user-service/node_modules
/user-service/.env.production
/user-service/.env

/job-service/node_modules
/job-service/.env.production
/job-service/.env

/file-service/node_modules
/file-service/.env.production
/file-service/.env

/admin-service/node_modules
/admin-service/.env.production
/admin-service/.env

/interview-mgmt-service/node_modules
/interview-mgmt-service/.env.production
/interview-mgmt-service/.env

/chat-service/node_modules
/chat-service/.env.production
/chat-service/.env

/video-service/node_modules
/video-service/.env.production
/video-service/.env

/notification-service/node_modules
/notification-service/.env.production
/notification-service/.env

/a.rest

